html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #2c2626;
}

#root {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

header {
  padding: 14px;
  text-align: center;
  background-color: #3131d8;
}

nav {
  font-size: 30px;
  color: white;
}

nav a:last-of-type {
  margin-left: 20px;
}

nav a.active {
  color: #fb7e00;
}

a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

main {
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
}

ul {
  list-style: none;
  font-size: 22px;
}

li:not(:first-of-type) {
  margin-top: 10px;
}

li {
  padding: 8px;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
  transition: color 0.3s ease;
}

h1 {
  font-size: 40px;
}

p {
  font-size: 18px;
}

.post:hover, a:hover {
  color: #dada38;
}

.post:active, a:active {
  color: #fb7e00;
}
